@import "settings/settings";

body {
  color: $body-color;
}
.my{
  background-color: aqua;
  &__title{
    color:$color-def;
    font-size: 3em;

  }
  &__text{
    color: $text-color;
    font-size: 1.5em;
  }
}